/*---------------------------------------------------------------CSS reset------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------------------------------Code starts here-------------------------------------------------------- */
html {
  margin: 0;
  height: 100%;
}
body {
  font-family: 'Yantramanav', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
h2 {
  font-size: 2rem;
}
header {
  width: 100%;
  height: 8vh;
  color: white;
  background: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 990px) {
  header {
    flex-direction: column;
    padding-top: 1vh;
  }
}
header #logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #logo img {
  height: 80%;
}
header nav {
  margin-right: 10vw;
}
@media screen and (max-width: 990px) {
  header nav {
    margin: 1vh 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
}
header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin: 0 5vw;
  border-bottom: 3px solid transparent;
}
@media screen and (max-width: 990px) {
  header nav a {
    margin: 0;
  }
}
header nav a:hover {
  border-bottom: 3px solid white;
}
#main-content {
  height: 64vh;
  width: 100%;
  background-image: url(/images/Camera.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: white;
}
@media screen and (max-width: 1200px) {
  #main-content {
    background-size: auto 75%;
  }
}
@media screen and (max-width: 990px) {
  #main-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
#main-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  margin: 15vh auto auto 0;
  padding: 2vh 5vw;
  background: rgba(3, 3, 3, 0.5);
}
@media screen and (max-width: 990px) {
  #main-left {
    margin: 0;
    width: 100%;
    height: 30vh;
    align-items: center;
    padding-top: 4vh;
  }
}
#main-left h1 {
  text-align: end;
  margin: 2vh 0;
  font-size: 3rem;
}
@media screen and (max-width: 1050px) {
  #main-left h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 990px) {
  #main-left h1 {
    text-align: center;
    font-size: 3.5rem;
  }
}
#main-left a {
  color: white;
  text-decoration: none;
  background: #ef6f6c;
  width: 45%;
  margin: 2vh 0;
  padding: 2vh;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
}
@media screen and (max-width: 990px) {
  #main-left a {
    width: 35%;
  }
}
#main-left a:hover {
  background: #dd4e4c;
}
#main-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}
@media screen and (max-width: 990px) {
  #main-right {
    height: 28vh;
    width: 100%;
    align-items: center;
    background: rgba(3, 3, 3, 0.5);
    justify-content: center;
  }
}
#main-right img {
  margin-left: 10%;
  max-height: 500px;
  width: 40vw;
}
@media screen and (min-width: 1983px) {
  #main-right img {
    width: 30vw;
    margin-left: 20%;
  }
}
@media screen and (max-width: 990px) {
  #main-right img {
    margin: 0 auto;
    width: 50vw;
  }
}
#steps {
  display: flex;
  justify-content: space-around;
  padding-top: 2vh;
  flex-wrap: wrap;
}
#steps div {
  width: 27.5%;
  height: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#steps div section {
  margin: 0;
  display: flex;
  width: 40%;
}
#steps div section img {
  margin-top: 20%;
  width: 30%;
  height: 50%;
}
#steps div h1 {
  font-size: 6rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  color: lightgrey;
  height: 50%;
}
#steps div p {
  height: 50%;
  font-size: 2rem;
}
@media screen and (max-width: 990px) {
  #steps div {
    margin-bottom: 3vh;
    width: 45%;
  }
}
#meet {
  width: 90%;
  margin: 3vh auto 2vh;
  text-align: center;
  border-bottom: 3px solid black;
}
#meet h1 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 5rem;
  font-weight: 500;
}
#cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#cards div {
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: 2vh 0;
}
#cards div img {
  height: 30vh;
  margin: 0 auto;
}
